body {
  background-color: rgba(121, 129, 111, 0.279);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.header-title {
  position: relative;
  font-size: 2.5rem;
  z-index: 1;
}

.insect-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.insect-tile {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.insect-tile img {
  max-width: 100%;
  border-radius: 10px;
}

.insect-tile h2 {
  margin: 10px 0;
}

.insect-tile ul {
  list-style-type: none;
  padding: 0;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.footer-content {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
}
/* background: rgba(0, 0, 0, 0.5);
} */

.footer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer-nav {
  display: flex;
  gap: 15px;
}

.footer-nav a {
  color: #a8e6cf;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #fff;
}
